<ion-app>
  <ion-content>
    <ion-card>
      <ion-item>
        <ion-label>Cari Komik</ion-label>
      </ion-item>
      <ion-item>
        <ion-input name="cari" placeholder="masukkan kata pencarian" [(ngModel)]='cari'>
        </ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" (click)='cariKomik(cari)'>Cari</ion-button>
    </ion-card>
    <br />
    <ion-card *ngFor="let komik of komiks;let i = index">
      <ion-card-content>
        <ion-chip>{{komik.judul}}</ion-chip>
        <ion-img src="{{komik.url_poster}}">
        </ion-img>
        <h4><b>{{komik.sinopsis}}</b></h4>
        <ion-label color='primary' routerLink='/bacakomik/{{komik.id}}'>Baca Selengkapnya</ion-label>
        <ion-item class="ion-no-padding">
          <ion-icon id='favourites{{komik.id}}' name="Heart" size="large" color=""
            (click)='addFavourite(komik.id)'></ion-icon>
          <ion-item>
            <ion-icon name="Chatbox" size="large" color="primary" routerLink='/comment/{{komik.id}}'></ion-icon>
            <ion-label>{{komik.total_ulasan}}</ion-label>
          </ion-item>
          <ion-icon name="Eye" size="large" color="success"></ion-icon>
          <ion-label>{{komik.view}}</ion-label>
          <ion-item>
            <ion-icon name="Star" size="large" color="warning" routerLink='/comment/{{komik.id}}'></ion-icon>
            <ion-label>{{komik.rating}}</ion-label>
          </ion-item>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>